{
 :paths ["src" "resources"],
 :deps { org.clojure/tools.cli {:mvn/version "1.0.214"}
         seancorfield/next.jdbc {:mvn/version "1.2.659"}
         org.xerial/sqlite-jdbc {:mvn/version "3.41.2.1"}}}
